 <div class="col-md-8 blog-main">
  
  <h2><%= @blog.title %></h2>

  <p> <%= @blog.topic.title %></p>

  <%= link_to 'Edit', edit_blog_path(@blog) %> |
 
  <p>
  	<%= markdown @blog.body %>
  </p>

</div>



